In [2]:
import pandas as pd
import re
import glob, os    

# use data from first two months, "./PWR-WiFi/**" will take all the folders
path = "./PWR-WiFi/2015-0[9]"


# get all files containing statistics
all_files = glob.glob(os.path.join(path, 'statystyki-wifi*.csv'), recursive=True)  

#filter not matching files
all_files = list(filter(lambda x: re.search('(statystyki-wifi-)\d{4}[-]\d{2}[-]\d{2}.(csv)', x), all_files))

# read and concatenate data from all files
df_from_each_file = (pd.read_csv(f, header=None, sep=';', engine='python') for f in all_files)
df = pd.concat(df_from_each_file, ignore_index=True)

df.head()

,0,1,2,3,4,5,6,7,8,9,...,13,14,15,16,17,18,19,20,21,22
0,2015-09-01--00-00,AP-A10-5,0.0,244961.0,65868.0,25716.0,6012.0,2865.0,1522.0,3841.0,...,20382445.0,38709845.0,0.0,145796.0,0.0,0.0,1.0,0.0,0.0,NaN
1,2015-09-01--00-00,AP-A10-2,0.0,665376.0,65942.0,92454.0,15264.0,5932.0,15981.0,37600.0,...,79623550.0,39138541.0,27.0,446366.0,0.0,0.0,1.0,0.0,0.0,NaN
2,2015-09-01--00-00,Ustka-p1,1.0,13000039.0,27361.0,3605686.0,781238.0,389992.0,835178.0,1112931.0,...,1375435.0,28583760.0,0.0,345982.0,0.0,0.0,0.0,1.0,0.0,NaN
3,2015-09-01--00-00,AP-C7-1cdf.0fac.9104,0.0,91592679.0,796916.0,29131516.0,5958158.0,2218986.0,5834107.0,8461871.0,...,148962761.0,558515811.0,184.0,11010810.0,0.0,0.0,0.0,0.0,0.0,NaN
4,2015-09-01--00-00,AP-C7-1cdf.0fac.9144,0.0,864152.0,77579.0,423607.0,73483.0,29565.0,76782.0,226400.0,...,23763109.0,45328364.0,116.0,390544.0,0.0,0.0,0.0,0.0,0.0,NaN

In [4]:
# trim the last semicolon in .csv treated by pandas as a column
df = df.iloc[:, :22]

# set columns names
df.columns = ['datetime', 'location', 'bsnApIfNoOfUsers',
'bsnAPIfDot11TransmittedFragmentCount',
'bsnAPIfDot11MulticastTransmittedFrameCount',
'bsnAPIfDot11RetryCount',
'bsnAPIfDot11MultipleRetryCount',
'bsnAPIfDot11FrameDuplicateCount',
'bsnAPIfDot11RTSSuccessCount',
'bsnAPIfDot11RTSFailureCount',
'bsnAPIfDot11ACKFailureCount',
'bsnAPIfDot11ReceivedFragmentCount',
'bsnAPIfDot11MulticastReceivedFrameCount',
'bsnAPIfDot11FCSErrorCount',
'bsnAPIfDot11TransmittedFrameCount',
'bsnAPIfDot11WEPUndecryptableCount',
'bsnAPIfDot11FailedCount',
'bsnAPIfLoadRxUtilization',
'bsnAPIfLoadTxUtilization',
'bsnAPIfLoadChannelUtilization',
'bsnAPIfLoadNumOfClients',
'bsnAPIfPoorSNRClients']

# drop rows with missing values
df.dropna(inplace=True)

# change data types of rows
df = df.astype({c: 'int64' for c in df.columns if c != 'datetime' and c != 'location' })

df.head()
%store df

Stored 'df' (DataFrame)