In [1]:
import pandas as pd
import re
import glob, os    

# use data from first two months, "./PWR-WiFi/**" will take all the folders
path = "./PWR-WiFi/2015-0[1]"


# get all files containing statistics
all_files = glob.glob(os.path.join(path, 'statystyki-wifi*.csv'), recursive=True)  

#filter not matching files
all_files = list(filter(lambda x: re.search('(statystyki-wifi-)\d{4}[-]\d{2}[-]\d{2}.(csv)', x), all_files))

# read and concatenate data from all files
df_from_each_file = (pd.read_csv(f, header=None, sep=';', engine='python') for f in all_files)
df = pd.concat(df_from_each_file, ignore_index=True)

df.head()

,0,1,2,3,4,5,6,7,8,9,...,13,14,15,16,17,18,19,20,21,22
0,2015-01-01--00-00,AP-A10-5,0.0,6532826.0,355396.0,1666379.0,366814.0,81774.0,243070.0,526207.0,...,431671759.0,214599205.0,5.0,2723435.0,0.0,0.0,0.0,0.0,0.0,NaN
1,2015-01-01--00-00,AP-A10-2,0.0,22747903.0,357512.0,3793748.0,667720.0,319500.0,590177.0,1347650.0,...,380220567.0,231300303.0,986.0,9645856.0,0.0,0.0,0.0,0.0,0.0,NaN
2,2015-01-01--00-00,Ustka-p1,0.0,1950.0,199900.0,0.0,0.0,0.0,0.0,0.0,...,6188.0,116856285.0,0.0,1759.0,0.0,0.0,0.0,0.0,0.0,NaN
3,2015-01-01--00-00,AP-C7-1cdf.0fac.9104,0.0,34592765.0,357116.0,9998923.0,2156216.0,869887.0,1780188.0,2797429.0,...,93569555.0,243628923.0,36.0,6939857.0,0.0,0.0,0.0,0.0,0.0,NaN
4,2015-01-01--00-00,C6-biblioteka,0.0,68720934.0,366074.0,18706657.0,3103553.0,1006329.0,2816447.0,6741983.0,...,460786107.0,278925731.0,2321.0,8446559.0,0.0,0.0,1.0,1.0,1.0,NaN

In [2]:
# trim the last semicolon in .csv treated by pandas as a column
df = df.iloc[:, :22]

# set columns names
df.columns = ['datetime', 'location', 'bsnApIfNoOfUsers',
'bsnAPIfDot11TransmittedFragmentCount',
'bsnAPIfDot11MulticastTransmittedFrameCount',
'bsnAPIfDot11RetryCount',
'bsnAPIfDot11MultipleRetryCount',
'bsnAPIfDot11FrameDuplicateCount',
'bsnAPIfDot11RTSSuccessCount',
'bsnAPIfDot11RTSFailureCount',
'bsnAPIfDot11ACKFailureCount',
'bsnAPIfDot11ReceivedFragmentCount',
'bsnAPIfDot11MulticastReceivedFrameCount',
'bsnAPIfDot11FCSErrorCount',
'bsnAPIfDot11TransmittedFrameCount',
'bsnAPIfDot11WEPUndecryptableCount',
'bsnAPIfDot11FailedCount',
'bsnAPIfLoadRxUtilization',
'bsnAPIfLoadTxUtilization',
'bsnAPIfLoadChannelUtilization',
'bsnAPIfLoadNumOfClients',
'bsnAPIfPoorSNRClients']

# drop rows with missing values
df.dropna(inplace=True)

# change data types of rows
df = df.astype({c: 'int64' for c in df.columns if c != 'datetime' and c != 'location' })

df.head()
%store df

Stored 'df' (DataFrame)